typeattribute better_bug_app coredomain;

app_domain(better_bug_app)
net_domain(better_bug_app)

allow better_bug_app shell_data_file:file read;
allow better_bug_app privapp_data_file:file execute;

allow better_bug_app app_api_service:service_manager find;
allow better_bug_app system_api_service:service_manager find;
allow better_bug_app mediaserver_service:service_manager find;

set_prop(better_bug_app, ctl_start_prop)

get_prop(better_bug_app, system_boot_reason_prop)
