type hal_wlcservice, domain;
type hal_wlcservice_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hal_wlcservice)

allow hal_wlcservice vendor_wlc_file:dir create_dir_perms;
allow hal_wlcservice vendor_wlc_file:file create_file_perms;
allow hal_wlcservice hal_wireless_charger_service:service_manager find;
allow hal_wlcservice kmsg_device:chr_file { getattr w_file_perms };

get_prop(hal_wlcservice, vendor_wlcservice_test_prop)

binder_call(hal_wlcservice, servicemanager)
add_service(hal_wlcservice, hal_wlcservice_service)

userdebug_or_eng(`
     domain_auto_trans(shell,  hal_wlcservice_exec, hal_wlcservice)
')

binder_call(hal_wlcservice, hal_wireless_charger)
