on init
    # Make foreground and background I/O priority different. none-to-rt was
    # introduced in kernel 5.14. promote-to-rt was introduced in kernel 6.5.
    # Write none-to-rt first and promote-to-rt next to support both older and
    # newer kernel versions.
    write /dev/blkio/blkio.prio.class none-to-rt
    write /dev/blkio/blkio.prio.class promote-to-rt

on property:ro.build.type=userdebug
    write /dev/sys/block/bootdevice/pixel/enable_pixel_ufs_logging 1
    chown system /dev/sg3
