allow hal_power_default sysfs_pakills:file rw_file_perms;
allow hal_power_default sysfs_pakills:dir r_dir_perms;
r_dir_file(hal_power_default, sysfs_vendor_mm);
