# Disable bootstrap when bootloader is unlocked in user build
on property:ro.build.type=user && property:ro.boot.flash.locked=0
    setprop setupwizard.feature.provisioning_profile_mode false

# Disable bootstrap for DVT devices shipping to non-US carriers
on property:ro.boot.warranty.sku=BOF
    setprop setupwizard.feature.provisioning_profile_mode false
